{% extends 'layout.html' %}
{% block head %}
<title> Halaman Bosss</title>
{% endblock %}

{% block body %}
<div class="container mx-auto p-4 border-4 rounded-2xl  w-1/2">
    <h1 class="text-6xl font-extrabold mb-4 mt-5 text-center">Student Information</h1>
    <table class="w-full border-collapse border border-gray-300">
        <thead>
            <tr class="text-center font-extrabold text-blue-950">
                <th class="py-2 px-4 border-b">ID</th>
                <th class="py-2 px-4 border-b">Nama</th>
                <th class="py-2 px-4 border-b">Fakultas</th>
                <th class="py-2 px-4 border-b">Nomer HP</th>
                <th class="py-2 px-4 border-b">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr class="text-center font-semibold text-blue-950">
                <td class="py-2 px-4 border-b">{{ row[0] }}</td>
                <td class="py-2 px-4 border-b">{{ row[1] }}</td>
                <td class="py-2 px-4 border-b">{{ row[2] }}</td>
                <td class="py-2 px-4 border-b">{{ row[3] }}</td>
                <td class="py-2 px-4 border-b">
                    <a href="{{ url_for('edit', id=row[0]) }}" class="text-blue-500 bg-slate-700 px-6 py-1 font-semibold hover:underline ml-1 rounded-md">Edit</a>
                    <a href="{{ url_for('delete', id=row[0]) }}" class="text-red-500 bg-slate-700 px-6 py-1 font-semibold hover:underline ml-2 rounded-md">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="{{ url_for('add') }}" method="post" class="mt-4 font-extrabold text-blue-950"">
        <label for="alamat" class="block mb-1">Nama :</label>
        <input type="text" name="alamat" class="w-full p-2 border border-gray-300" required>
        <br>
        <label for="fakultas" class="block mb-1">Fakultas:</label>
        <input type="text" name="fakultas" class="w-full p-2 border border-gray-300" required>
        <br>
        <label for="nomer_hp" class="block mb-1">Nomer HP:</label>
        <input type="text" name="nomer_hp" class="w-full p-2 border border-gray-300" required>
        <br>
        <input type="submit" value="Add Student" class="bg-blue-500 rounded-md text-white p-2 mt-2 cursor-pointer hover:bg-blue-700">
    </form>
</div>
{% endblock %}